<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Job Schedule System</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<div class="container">
		<form id="Login">

			<div class="form-group">


				<input type="email" class="form-control" id="inputEmail"
					placeholder="Email Address">

			</div>

			<div class="form-group">

				<input type="password" class="form-control" id="inputPassword"
					placeholder="Password">

			</div>
			<div class="forgot">
				<a href="reset.html">Forgot password?</a>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>

		</form>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>